*{
    background-color: rebeccapurple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}
.boton{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rebeccapurple;
}
ul{
    font-size: 10px;
    list-style: none;
    position: relative;
    float: right; 
    color: white;
    margin: 10px;
}



